<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="container">
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <p class="tagline">{{ site.description }}</p>

   <nav class="nav">
  <a href="{{ '/' | relative_url }}">Home</a> |
  <a href="{{ '/about/' | relative_url }}">About</a> |
  <a href="{{ '/posts/' | relative_url }}">Posts</a> |
  <a href="{{ '/resources/' | relative_url }}">Resources</a>
   </nav>

    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <p>© {{ "now" | date: "%Y" }} · HTML</p>
  </footer>
</div>

</body>
</html>
